.hero{
    position: absolute;
    margin-left: 100px;
    display: flex;
    height: 80vh;
    /* background-color: #5c1b4d; */
}

.hero .left{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
}


.left h1{
    /* border: solid 2px black; */
    text-align: center;
    font-size: 3.79rem;
    padding: 50px;
    text-transform: uppercase;
    color: #063142;
    text-shadow: 12px 1px 16px #662549;
    margin: 50px;
    margin-top: 150px;
    display: inline-block;
}
button{
    padding: 20px 40px 20px 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    background-color: #662549;
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 4px 6px black;
}
.hero .right{
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 30%; */
}
.right input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 120px 10px 0px;
    margin: 20px;
    border-radius: 22px;
    border: none;
    text-transform: uppercase;
    text-align: center;
}
form{
    background-color: rgb(221, 221, 221);
    border-radius: 22px;
    margin-right: 80px;
    box-shadow: 2px 4px 6px black;
    padding: 50px;
}

.footer{
    height: 30vh;
    width: 90%;
    margin-left: 100px;
    background-color: #662549;
    border-radius: 309px 44px 750px 155px ;
}
p{
    text-align: center;
    margin-left: 2rem;
    margin-top: 0;
    font-size: 18px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.right img{
    width: 400px;
    position: absolute;
    z-index: -10;
    margin-top: 620px;
    margin-right: 140px;
}
.btn{
    margin-left: 60px;
}